
.app-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 75px;
}






.location-parks-container {
  align-self: center;
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: auto;
  gap: 25px;
}

.park-container {
  width: 400px;
  height: 100%;
  -webkit-box-shadow: 0 1px 1px rgba(101, 101, 101,0.19), 
  0 2px 2px rgba(101, 101, 101,0.16), 
  0 4px 4px rgba(101, 101, 101,0.13), 
  0 8px 8px rgba(101, 101, 101,0.10);
  box-shadow: 0 1px 1px rgba(101, 101, 101,0.19), 
  0 2px 2px rgba(101, 101, 101,0.16), 
  0 4px 4px rgba(101, 101, 101,0.13), 
  0 8px 8px rgba(101, 101, 101,0.10);
}

.park-header {
  width: 400px;
  height: 200px;
  object-fit: cover;
}

.park-image {
  width: 100%;
  height: 100%;
}

.park-content {
  padding: 15px;
}

.park-name-est {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.park-acres-visitors {
  display: flex;
  align-items: center;
  justify-content: space-around;
}