@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}


.app-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 75px;
}

#input {
  border: none;
  border-bottom: 1px solid black;
  margin-right: 10px;
  font-size: 20px;
  width: 140px;
}

#search {
  border: none;
  margin-right: 10px;
  font-size: 18px;
  background: none;
  padding-bottom: 3px;
  box-sizing: border-box;
  border-bottom: 1px solid white;
}

#reset {
  border: none;
  margin-right: 10px;
  font-size: 18px;
  background: none;
  padding-bottom: 3px;
  box-sizing: border-box;
  border-bottom: 1px solid white;
}

#search:hover {
  border-bottom: 1px solid grey;
  cursor: pointer;
}

#reset:hover {
  border-bottom: 1px solid grey;
  cursor: pointer;
}



.location-parks-container {
  align-self: center;
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: auto;
  gap: 25px;
}

.park-container {
  width: 400px;
  height: 100%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
  0 2px 4px rgba(0,0,0,0.07), 
  0 4px 8px rgba(116, 116, 116, 0.07),
  0 8px 16px rgba(116, 116, 116, 0.07),
  0 16px 32px rgba(116, 116, 116, 0.07);
  border-radius: 10px;
}

.park-header {
  width: 400px;
  height: 250px;
  object-fit: cover;
}

#park-name {
  font-size: 35px;
  margin-bottom: 0;
  text-align: center;
}

.park-image {
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 0 0;
}

.park-content {
  padding: 15px;
}

.park-name-est {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#acres {
  height: 60px;
}

#visitors {
  height: 60px;
}

.park-acres-visitors {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#established-date {
  color: rgb(106, 106, 106);
}


@media (max-width: 700px) {
  .location-parks-container {
    align-self: center;
    display: grid;
    grid-template-columns: 400px;
    grid-template-rows: auto;
    gap: 25px;
  }
}